In [111]:
import pandas as pd
import numpy as np
import random
import joblib

#### Purpose of Notebook

This notebook was created to create sample datasets to use within a heroku app.New files created are:
1. ratings_demo
2. movies_demo
3. ratings_demo_mx
4. Vectors (U, sigma, Vt) which will be used to calculate dot product in function and user predictions when the function is run.
5. movies_bow_demo

In [112]:
movies = pd.read_csv('Data/movies_sml.csv')
ratings = pd.read_hdf('Data/ratings_hdf.h5')

In [113]:
movies.head()

,movieId,Title,genres,Actors,Director,Plot,Poster
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,"Tom Hanks, Tim Allen, Don Rickles, Jim Varney",John Lasseter,A cowboy doll is profoundly threatened and jea...,https://m.media-amazon.com/images/M/MV5BMDU2ZW...
1,2,Jumanji,Adventure|Children|Fantasy,"Robin Williams, Jonathan Hyde, Kirsten Dunst, ...",Joe Johnston,When two kids find and play a magical board ga...,https://m.media-amazon.com/images/M/MV5BZTk2Zm...
2,3,Grumpier Old Men,Comedy|Romance,"Walter Matthau, Jack Lemmon, Sophia Loren, Ann...",Howard Deutch,John and Max resolve to save their beloved bai...,https://m.media-amazon.com/images/M/MV5BMjQxM2...
3,4,Waiting to Exhale,Comedy|Drama|Romance,"Whitney Houston, Angela Bassett, Loretta Devin...",Forest Whitaker,"Based on Terry McMillan's novel, this film fol...",https://m.media-amazon.com/images/M/MV5BYzcyMD...
4,5,Father of the Bride Part II,Comedy,"Steve Martin, Diane Keaton, Martin Short, Kimb...",Charles Shyer,George Banks must deal not only with the pregn...,https://m.media-amazon.com/images/M/MV5BOTEyNz...

#### Shrink file sizes further for Heroku app

In [114]:
ratings.shape

(1770467, 5)

In [115]:
movies.shape

(9445, 7)

In [116]:
#shrink ratings for demo purposes
ratings_demo = ratings.sample(frac=0.75, random_state=1)

print(ratings_demo.shape)
ratings_demo.head()

(1327850, 5)

,userId,num_user_rated,movieId,Title,rating
71322,117044,148,33493,Star Wars: Episode III - Revenge of the Sith,4.0
755584,49070,127,2997,Being John Malkovich,3.5
1499836,136449,106,2390,Little Voice,5.0
928254,224783,122,597,Pretty Woman,4.0
924584,263937,122,5299,My Big Fat Greek Wedding,4.5

In [117]:
# create new ratings file
ratings_demo.to_hdf('Data/ratings_demo.h5', key='ratings_demo',complib='blosc',complevel=9, mode='w' )

In [118]:
# find only the movies rated by the users in the smaller ratings data set

movies_demo = pd.merge(ratings_demo, movies, how = 'inner', on = 'movieId')

movies_demo.head()

,userId,num_user_rated,movieId,Title_x,rating,Title_y,genres,Actors,Director,Plot,Poster
0,117044,148,33493,Star Wars: Episode III - Revenge of the Sith,4.0,Star Wars: Episode III - Revenge of the Sith,Action|Adventure|Sci-Fi,"Ewan McGregor, Natalie Portman, Hayden Christe...",George Lucas,"Three years into the Clone Wars, the Jedi resc...",https://m.media-amazon.com/images/M/MV5BNTc4MT...
1,169731,123,33493,Star Wars: Episode III - Revenge of the Sith,5.0,Star Wars: Episode III - Revenge of the Sith,Action|Adventure|Sci-Fi,"Ewan McGregor, Natalie Portman, Hayden Christe...",George Lucas,"Three years into the Clone Wars, the Jedi resc...",https://m.media-amazon.com/images/M/MV5BNTc4MT...
2,42574,104,33493,Star Wars: Episode III - Revenge of the Sith,4.0,Star Wars: Episode III - Revenge of the Sith,Action|Adventure|Sci-Fi,"Ewan McGregor, Natalie Portman, Hayden Christe...",George Lucas,"Three years into the Clone Wars, the Jedi resc...",https://m.media-amazon.com/images/M/MV5BNTc4MT...
3,158046,128,33493,Star Wars: Episode III - Revenge of the Sith,3.5,Star Wars: Episode III - Revenge of the Sith,Action|Adventure|Sci-Fi,"Ewan McGregor, Natalie Portman, Hayden Christe...",George Lucas,"Three years into the Clone Wars, the Jedi resc...",https://m.media-amazon.com/images/M/MV5BNTc4MT...
4,97844,108,33493,Star Wars: Episode III - Revenge of the Sith,4.5,Star Wars: Episode III - Revenge of the Sith,Action|Adventure|Sci-Fi,"Ewan McGregor, Natalie Portman, Hayden Christe...",George Lucas,"Three years into the Clone Wars, the Jedi resc...",https://m.media-amazon.com/images/M/MV5BNTc4MT...

In [119]:

movies_demo = movies_demo[['movieId','Title_x','genres','Actors', 'Director', 'Plot', 'Poster' ]]

movies_demo = movies_demo.rename(columns = {'Title_x': 'Title'})

# drop duplicates

movies_demo.drop_duplicates(subset ="movieId", 
                     keep = 'first', inplace = True) 

print(movies_demo.shape)

(8854, 7)

In [120]:
movies_demo.drop_duplicates(subset ="Title", 
                     keep = 'first', inplace = True)

In [121]:
movies_demo.to_csv('Data/movies_demo.csv', index=False)

In [93]:
movies_demo.head()

,movieId,Title,genres,Actors,Director,Plot,Poster
0,33493,Star Wars: Episode III - Revenge of the Sith,Action|Adventure|Sci-Fi,"Ewan McGregor, Natalie Portman, Hayden Christe...",George Lucas,"Three years into the Clone Wars, the Jedi resc...",https://m.media-amazon.com/images/M/MV5BNTc4MT...
2077,2997,Being John Malkovich,Comedy|Drama|Fantasy,"John Cusack, Cameron Diaz, Ned Bellamy, Eric W...",Spike Jonze,A puppeteer discovers a portal that leads lite...,https://m.media-amazon.com/images/M/MV5BYmUxY2...
5743,2390,Little Voice,Comedy,"Brenda Blethyn, Jane Horrocks, Ewan McGregor, ...",Mark Herman,A shy reclusive lady is convinced by an invisi...,https://m.media-amazon.com/images/M/MV5BN2Y0Yj...
5991,597,Pretty Woman,Comedy|Romance,"Richard Gere, Julia Roberts, Ralph Bellamy, Ja...",Garry Marshall,A man in a legal but hurtful business needs an...,https://m.media-amazon.com/images/M/MV5BNjk2OD...
10033,5299,My Big Fat Greek Wedding,Comedy|Romance,"Nia Vardalos, Michael Constantine, Christina E...",Joel Zwick,A young Greek woman falls in love with a non-G...,https://m.media-amazon.com/images/M/MV5BNzcwOW...

#### Create new Bag of Words csv
New movies_bow csv created based on smaller dataset

In [137]:
movies_bow = movies_demo.copy()

In [138]:
# function to switch all words to lower and remove spaces
def clean_data(x):
    if isinstance(x, list):
        return[str.lower(i.replace(" ", "")) for i in x]
    else:
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

In [139]:
credits = ['Actors', 'Director']

for credit in credits:
    movies_bow[credit] = movies_bow[credit].apply(clean_data)

In [140]:
# remove | from genres

movies_bow['genres'] = movies_bow['genres'].str.replace("|", " ")

In [141]:
#### Combining data 

def create_soup(x):
    return  x['Actors'].replace(',',' ') + ' ' + x['Director'] + ' ' + ' '.join(x['genres'])

In [142]:
movies_bow['bag_of_words'] = movies_bow.apply(create_soup, axis=1)

In [144]:
movies_bow = movies_bow[['movieId','Title','bag_of_words']]
movies_bow.to_csv('Data/movies_bow_demo.csv', index=False)
movies_bow.head()

,movieId,Title,bag_of_words
0,33493,Star Wars: Episode III - Revenge of the Sith,ewanmcgregor natalieportman haydenchristensen ...
2077,2997,Being John Malkovich,johncusack camerondiaz nedbellamy ericweinstei...
5743,2390,Little Voice,brendablethyn janehorrocks ewanmcgregor philip...
5991,597,Pretty Woman,richardgere juliaroberts ralphbellamy jasonale...
10033,5299,My Big Fat Greek Wedding,niavardalos michaelconstantine christinaeleusi...

#### Perform part of the SVD model process
All of the vectors are computed and pickled so that less time will be spent on data processing when the app is being run

In [94]:
# pivot ratings into movie features
ratings_demo_matrix = ratings_demo.pivot(
    index='userId',
    columns='movieId',
    values='rating'
).fillna(0)

In [95]:
# create ratings_demo_matrix

ratings_demo_matrix.to_hdf('Data/ratings_demo_mx.h5', key='ratings_demo_matrix',complib='blosc',complevel=9, mode='w' )

In [96]:
# normalize the data by each users mean and convert it from a dataframe to a numpy array.

R = ratings_demo_matrix.values
user_ratings_mean = np.mean(R, axis = 1)
Ratings_demeaned = R - user_ratings_mean.reshape(-1, 1)

In [97]:
# Compute the largest k singular values/vectors for a sparse matrix

from scipy.sparse.linalg import svds

U, sigma, Vt = svds(Ratings_demeaned, k = 50)

In [98]:
# convert sigma to a diagonal matrix

sigma = np.diag(sigma)

In [99]:
# Pickle of the variables needed to compute the dot product

joblib.dump(U, 'Data/U.pkl')
joblib.dump(Vt, 'Data/Vt.pkl')
joblib.dump(sigma, 'Data/sigma.pkl')

['Data/sigma.pkl']

In [100]:
# calculate the dot product of our vectors
user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + user_ratings_mean.reshape(-1, 1)

In [101]:
preds_demo = pd.DataFrame(user_predicted_ratings, columns = ratings_demo_matrix.columns)

preds_demo.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,175727,175731,175975,175991,175995,175999,176001,176003,176157,176211
0,0.134342,0.123447,-0.314752,-0.007506,-0.220334,0.148547,-0.273361,-0.084055,-0.179206,0.230369,...,0.001149,0.001149,0.001827,0.002302,0.002294,0.002294,0.002294,0.002290,0.003442,0.003685
1,0.107459,-0.069435,-0.021670,-0.019094,-0.098950,1.489719,0.233214,-0.039873,0.041659,0.951800,...,-0.001815,-0.001815,0.001766,0.001224,0.001839,0.001839,0.001839,0.002146,0.002824,-0.001393
2,-0.479535,-0.030358,-0.093483,0.047585,-0.111207,0.077514,0.002406,-0.049709,-0.090255,-0.383008,...,0.001362,0.001362,0.002787,0.003657,0.003324,0.003324,0.003324,0.003158,0.005176,-0.001296
3,0.388845,0.912152,-0.121384,-0.014831,-0.264350,2.210059,-0.362664,-0.081191,0.009575,1.523535,...,-0.007588,-0.007588,-0.003405,-0.003026,-0.003357,-0.003357,-0.003357,-0.003523,-0.000141,-0.004896
4,1.448312,0.511455,-0.098407,-0.029741,-0.049380,-0.335932,0.098977,-0.018682,-0.157224,0.782723,...,-0.000292,-0.000292,0.001182,-0.001113,-0.001148,-0.001148,-0.001148,-0.001165,-0.000518,-0.000454

In [107]:
exist_users = ratings_demo['userId'].unique().tolist()

exist_users

[117044,
 49070,
 136449,
 224783,
 263937,
 187855,
 75685,
 106399,
 226832,
 180180,
 253494,
 119916,
 235975,
 25517,
 12269,
 228698,
 164724,
 157442,
 92767,
 80414,
 32948,
 198238,
 163311,
 122803,
 173562,
 140615,
 198462,
 135375,
 73866,
 249913,
 224877,
 252859,
 140931,
 130535,
 252065,
 142616,
 263480,
 250212,
 245929,
 35325,
 152968,
 68801,
 146420,
 256694,
 157661,
 30799,
 23962,
 8624,
 258013,
 31591,
 149449,
 84143,
 46135,
 35721,
 145339,
 78279,
 37051,
 270539,
 186939,
 106967,
 142669,
 63727,
 47358,
 267693,
 239695,
 25879,
 36714,
 155943,
 144454,
 112606,
 20826,
 215907,
 131891,
 167779,
 28707,
 59885,
 179921,
 252005,
 147639,
 270205,
 78966,
 230850,
 27502,
 223348,
 226999,
 225158,
 158282,
 97929,
 140882,
 40353,
 194996,
 19985,
 264072,
 169731,
 121105,
 125790,
 162735,
 210590,
 172401,
 183551,
 59943,
 178076,
 179801,
 114834,
 7787,
 42599,
 133608,
 93046,
 239587,
 134902,
 83089,
 256633,
 124569,
 148787,
 80759,
 257561,
 24568,
 162143,
 152808,
 67468,
 123014,
 13485,
 159555,
 210386,
 151930,
 48465,
 6013,
 9745,
 185928,
 180237,
 198416,
 207701,
 50935,
 165582,
 175459,
 24192,
 251358,
 88703,
 177135,
 92582,
 89480,
 172657,
 78742,
 116791,
 152692,
 103612,
 234130,
 112029,
 232149,
 241773,
 104290,
 190160,
 243115,
 161939,
 10175,
 198869,
 143887,
 189251,
 38818,
 217793,
 210270,
 58655,
 195114,
 167486,
 190191,
 248924,
 155268,
 44604,
 90904,
 198876,
 171426,
 234282,
 44379,
 36475,
 119521,
 205883,
 196045,
 207111,
 162909,
 173117,
 173728,
 29786,
 9734,
 11227,
 150966,
 143495,
 229034,
 60464,
 243807,
 30364,
 45542,
 249187,
 103652,
 149877,
 239837,
 205695,
 112609,
 32193,
 29044,
 72025,
 34962,
 19208,
 167982,
 22834,
 42346,
 147314,
 77680,
 48761,
 139228,
 2930,
 261430,
 4818,
 158304,
 73625,
 7458,
 252752,
 42958,
 94004,
 4417,
 223204,
 42213,
 147660,
 114346,
 73563,
 7726,
 140085,
 75917,
 106690,
 253632,
 3481,
 30541,
 58174,
 143972,
 41032,
 1662,
 102563,
 45885,
 187982,
 14572,
 245779,
 109945,
 65587,
 100298,
 117579,
 188102,
 47805,
 185200,
 135860,
 47323,
 207581,
 58905,
 102179,
 254523,
 18015,
 144592,
 111338,
 45777,
 189525,
 151582,
 131335,
 199507,
 267806,
 53626,
 79277,
 188028,
 250843,
 190165,
 235174,
 244876,
 220771,
 267169,
 183163,
 109008,
 192889,
 100843,
 180016,
 23536,
 37242,
 214801,
 22397,
 129119,
 16088,
 266236,
 98225,
 167358,
 131742,
 215773,
 201633,
 265757,
 264510,
 113967,
 43806,
 183105,
 162948,
 176665,
 230165,
 75848,
 233918,
 120341,
 158602,
 151422,
 212515,
 61471,
 157573,
 20552,
 166569,
 209682,
 71550,
 3433,
 183650,
 177429,
 142099,
 50424,
 44259,
 188836,
 243629,
 218878,
 91060,
 76947,
 240208,
 50360,
 95310,
 217525,
 158688,
 50380,
 268229,
 192816,
 53206,
 11946,
 60292,
 232942,
 43541,
 245350,
 21622,
 74449,
 130499,
 160557,
 232774,
 111075,
 138215,
 162265,
 219607,
 237386,
 119491,
 33489,
 127159,
 262476,
 102383,
 188556,
 24128,
 202314,
 246004,
 267570,
 96740,
 258494,
 32896,
 102723,
 204034,
 110446,
 107964,
 257815,
 50332,
 58591,
 164796,
 14458,
 136938,
 246598,
 140350,
 186854,
 152230,
 99324,
 210430,
 191333,
 229298,
 264768,
 261698,
 90257,
 88731,
 217004,
 49556,
 26388,
 166634,
 96698,
 108159,
 85260,
 249165,
 79098,
 252731,
 157184,
 188504,
 171136,
 148118,
 88633,
 170494,
 184813,
 5153,
 263583,
 19846,
 117229,
 164636,
 122275,
 228645,
 43231,
 211852,
 169495,
 151503,
 218010,
 63995,
 231017,
 226131,
 216930,
 145473,
 140999,
 218978,
 172908,
 189335,
 106043,
 85965,
 251393,
 178112,
 207105,
 113400,
 153460,
 213563,
 170140,
 243979,
 226749,
 157081,
 163978,
 129243,
 203399,
 187134,
 59988,
 245238,
 75422,
 116788,
 5600,
 11106,
 37416,
 99229,
 261683,
 26433,
 13991,
 222282,
 263292,
 70006,
 268541,
 231120,
 73479,
 135074,
 245518,
 80780,
 245127,
 166480,
 47790,
 143965,
 22119,
 212195,
 234020,
 29632,
 62023,
 120307,
 227438,
 109125,
 126381,
 61193,
 204749,
 52448,
 52598,
 165116,
 61986,
 210732,
 234638,
 82850,
 234279,
 31163,
 127259,
 131076,
 38730,
 94362,
 73228,
 149492,
 220813,
 114816,
 168727,
 792,
 22872,
 77797,
 129163,
 80678,
 71996,
 75000,
 104115,
 101839,
 210638,
 188684,
 249915,
 96170,
 188993,
 146076,
 191251,
 158403,
 193509,
 251917,
 153960,
 226667,
 209218,
 166797,
 125092,
 265246,
 179472,
 140078,
 91186,
 90045,
 32803,
 136912,
 208783,
 27661,
 72835,
 44184,
 223371,
 42179,
 171732,
 212269,
 168858,
 28489,
 267875,
 232199,
 228954,
 65848,
 77259,
 200638,
 99685,
 175032,
 172226,
 184174,
 83083,
 239370,
 23528,
 121191,
 59727,
 188890,
 187826,
 10002,
 66015,
 158833,
 250927,
 169699,
 223767,
 189258,
 134783,
 59244,
 72971,
 91746,
 134286,
 123003,
 235249,
 200394,
 83217,
 204262,
 46029,
 48594,
 213917,
 105889,
 143685,
 46460,
 229997,
 161076,
 140307,
 17403,
 72425,
 106891,
 127982,
 17454,
 254376,
 192206,
 92365,
 157480,
 63528,
 108592,
 261311,
 252437,
 143643,
 224855,
 127924,
 50222,
 82935,
 1138,
 83593,
 153612,
 91528,
 207983,
 43176,
 95713,
 224200,
 19837,
 175858,
 214233,
 253054,
 31728,
 88806,
 43171,
 126709,
 198969,
 10046,
 114554,
 65764,
 230690,
 125361,
 43935,
 194312,
 38360,
 133045,
 174078,
 150774,
 13173,
 56171,
 255043,
 242271,
 267522,
 11628,
 15451,
 216723,
 205745,
 96584,
 240680,
 158908,
 216698,
 181140,
 119027,
 86513,
 65513,
 102143,
 201875,
 177778,
 24026,
 162608,
 144958,
 48723,
 166853,
 47834,
 150253,
 199254,
 36841,
 255286,
 242166,
 107982,
 122215,
 89385,
 77678,
 152484,
 9263,
 180460,
 151873,
 99410,
 231126,
 194908,
 208995,
 164532,
 24181,
 241347,
 181951,
 140498,
 153972,
 162465,
 269533,
 48453,
 9529,
 213429,
 83784,
 8532,
 150071,
 66301,
 30168,
 201078,
 251652,
 75322,
 260608,
 166370,
 86969,
 228046,
 233123,
 115240,
 141776,
 142905,
 252906,
 173295,
 96549,
 65,
 235582,
 138477,
 232305,
 31953,
 138506,
 150452,
 213576,
 179551,
 76934,
 236474,
 56117,
 227801,
 78550,
 268674,
 187115,
 174753,
 28514,
 150118,
 210964,
 83795,
 119014,
 64043,
 65052,
 94994,
 233601,
 12004,
 266125,
 267871,
 59412,
 238682,
 240813,
 28557,
 56567,
 193333,
 186214,
 184865,
 263189,
 33972,
 108074,
 232205,
 96791,
 69419,
 180115,
 267206,
 8160,
 155525,
 44817,
 136995,
 113009,
 86379,
 188847,
 242170,
 237643,
 142407,
 150658,
 51801,
 4680,
 124262,
 143450,
 253761,
 44749,
 190422,
 126819,
 203132,
 186411,
 267432,
 34506,
 96593,
 183687,
 94186,
 176115,
 24593,
 120381,
 4452,
 96031,
 33108,
 2558,
 32018,
 99387,
 195493,
 177159,
 218785,
 43855,
 63169,
 95196,
 110548,
 172220,
 141509,
 78487,
 92653,
 54281,
 84299,
 93845,
 205037,
 157098,
 101048,
 55893,
 181000,
 246454,
 248893,
 70360,
 267874,
 135864,
 136866,
 45444,
 146077,
 184935,
 169656,
 232167,
 51200,
 255565,
 109289,
 109596,
 131877,
 190501,
 25554,
 107274,
 133595,
 180102,
 190799,
 97319,
 226816,
 109706,
 114549,
 92637,
 201632,
 20933,
 145356,
 238141,
 14248,
 125771,
 47883,
 52141,
 208403,
 196296,
 68252,
 30633,
 196375,
 129861,
 219937,
 101996,
 181889,
 49097,
 218559,
 228822,
 258263,
 219497,
 92563,
 50496,
 262472,
 252602,
 24798,
 248146,
 39043,
 177601,
 140115,
 79077,
 226867,
 202136,
 94880,
 168956,
 58708,
 95462,
 235974,
 224872,
 129884,
 22895,
 24682,
 59689,
 64633,
 243596,
 222579,
 4272,
 60746,
 113529,
 40595,
 236453,
 56377,
 243198,
 201799,
 186728,
 108746,
 142310,
 254432,
 136356,
 237277,
 33060,
 94012,
 139839,
 225267,
 158350,
 14948,
 12888,
 132102,
 52610,
 5484,
 35706,
 262556,
 177864,
 225990,
 153230,
 174896,
 66549,
 211280,
 4621,
 21459,
 24178,
 112638,
 49310,
 255825,
 94264,
 461,
 59920,
 231936,
 28113,
 136653,
 100784,
 86487,
 110425,
 38829,
 214073,
 233798,
 263191,
 258615,
 132471,
 123675,
 170335,
 77286,
 162437,
 193987,
 376,
 50815,
 206443,
 82873,
 218750,
 97919,
 124087,
 149069,
 188309,
 41051,
 178550,
 92841,
 178009,
 144193,
 136214,
 99799,
 146316,
 70275,
 155933,
 69372,
 34128,
 175960,
 109113,
 144058,
 240294,
 228289,
 162570,
 1203,
 66835,
 65199,
 155091,
 2537,
 47021,
 234616,
 91424,
 247479,
 82065,
 191146,
 111800,
 105945,
 152039,
 217471,
 217269,
 7825,
 59853,
 33283,
 2848,
 166232,
 80321,
 211626,
 154932,
 247663,
 90457,
 229099,
 185236,
 123009,
 106600,
 138758,
 128036,
 131828,
 222565,
 86017,
 211252,
 158749,
 239847,
 69671,
 41698,
 107336,
 38604,
 113540,
 175997,
 185970,
 184092,
 28548,
 187924,
 131175,
 79388,
 143750,
 252893,
 146713,
 87924,
 ...]

In [124]:
exist_movies = pd.Series(movies_demo['Title'])

exist_movies

0          Star Wars: Episode III - Revenge of the Sith
2077                               Being John Malkovich
5743                                       Little Voice
5991                                       Pretty Woman
10033                          My Big Fat Greek Wedding
11479                                      Moulin Rouge
12998                                        Phenomenon
14049                                         Get Smart
14229                                         Backdraft
14909                                        Goodfellas
18513                                        Iron Man 3
19140                                          Rounders
19776                                     Stuart Little
20218                                             Ghost
23569                                      Forrest Gump
31573                                             Smoke
32263             The Hunger Games: Mockingjay - Part 1
32711                                           Aladdin
37174                                   Mission to Mars
37717                                 Gangs of New York
38516                                                 9
38727                Henry: Portrait of a Serial Killer
38862                                      Garden State
40118                                        Braveheart
46353                          Riding in Cars with Boys
46459             Eternal Sunshine of the Spotless Mind
49820                                        Serial Mom
50641                               Lost in Translation
53014                                     Happy Gilmore
55073                                         GoldenEye
                               ...
1297039                        MystÃ¨re Ã  la Tour Eiffel
1297040                                        Sparrows
1297041                                          Dancer
1297042                                 The Wicker Tree
1297043                         Shootout at Lokhandwala
1297044                         Salting the Battlefield
1297045                                 12 O'Clock Boys
1297046       Trailer Park Boys: Live at the North Pole
1297047                                       A Promise
1297048                                         Starlet
1297049                                If the Shoe Fits
1297050                              Thou Shalt Laugh 3
1297051                                      Love Crime
1297052                                     Remember Me
1297053                                       Edward II
1297054                              Holiday in the Sun
1297055                                  After the Ball
1297056                                          Tanguy
1297057                               Doomsday Prophecy
1297058                                        The Ride
1297059                        1990: The Bronx Warriors
1297060                               American Hardcore
1297061                                  Lost Christmas
1297062                              Battle for Haditha
1297063                                      CrissCross
1297064                                    Bluffmaster!
1297065                                         Sparrow
1297066                                   Waffle Street
1297067                                 Saint Young Men
1297068        Pan Tadeusz: The Last Foray in Lithuania
Name: Title, Length: 8854, dtype: object