In [1]:
import pandas as pd
import numpy as np
import random
import joblib

#### Purpose of Notebook

This notebook was created to create sample datasets to use within a heroku app.New files created are:
1. ratings_demo
2. movies_demo
3. ratings_demo_mx
4. Vectors (U, sigma, Vt) which will be used to calculate dot product in function and user predictions when the function is run.
5. movies_bow_demo

In [76]:
movies = pd.read_csv('Data/movies_sml.csv')
ratings = pd.read_hdf('Data/ratings_hdf.h5')

In [77]:
movies.head()

,movieId,Title,genres,Actors,Director,Plot,Poster
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,"Tom Hanks, Tim Allen, Don Rickles, Jim Varney",John Lasseter,A cowboy doll is profoundly threatened and jea...,https://m.media-amazon.com/images/M/MV5BMDU2ZW...
1,2,Jumanji,Adventure|Children|Fantasy,"Robin Williams, Jonathan Hyde, Kirsten Dunst, ...",Joe Johnston,When two kids find and play a magical board ga...,https://m.media-amazon.com/images/M/MV5BZTk2Zm...
2,3,Grumpier Old Men,Comedy|Romance,"Walter Matthau, Jack Lemmon, Sophia Loren, Ann...",Howard Deutch,John and Max resolve to save their beloved bai...,https://m.media-amazon.com/images/M/MV5BMjQxM2...
3,4,Waiting to Exhale,Comedy|Drama|Romance,"Whitney Houston, Angela Bassett, Loretta Devin...",Forest Whitaker,"Based on Terry McMillan's novel, this film fol...",https://m.media-amazon.com/images/M/MV5BYzcyMD...
4,5,Father of the Bride Part II,Comedy,"Steve Martin, Diane Keaton, Martin Short, Kimb...",Charles Shyer,George Banks must deal not only with the pregn...,https://m.media-amazon.com/images/M/MV5BOTEyNz...

#### Shrink file sizes further for Heroku app

In [40]:
ratings.shape

(2892878, 5)

In [41]:
movies.shape

(11102, 7)

In [78]:
#shrink ratings for demo purposes
ratings_demo = ratings.sample(frac=0.01, random_state=1)

print(ratings_demo.shape)
ratings_demo.head()

(28929, 5)

         userId  num_user_rated  movieId                 Title  rating
573437    85983             132     2716          Ghostbusters     3.0
7500      71558             150      110            Braveheart     3.5
2623282  220354              80      218      Boys on the Side     4.0
498686   243570             134      410  Addams Family Values     3.5
414056   260431             137    93510        21 Jump Street     3.5

In [79]:
user_count = ratings_demo['userId'].unique()
print(len(user_count))

17664

In [80]:
# create new ratings file
ratings_demo.to_hdf('Data/ratings_demo.h5', key='ratings_demo',complib='blosc',complevel=9, mode='w' )

In [81]:
# find only the movies rated by the users in the smaller ratings data set

movies_demo = pd.merge(ratings_demo, movies, how = 'inner', on = 'movieId')

movies_demo.head()

,userId,num_user_rated,movieId,Title_x,rating,Title_y,genres,Actors,Director,Plot,Poster
0,85983,132,2716,Ghostbusters,3.0,Ghostbusters,Action|Comedy|Sci-Fi,"Bill Murray, Dan Aykroyd, Sigourney Weaver, Ha...",Ivan Reitman,Three former parapsychology professors set up ...,https://m.media-amazon.com/images/M/MV5BMTkxMj...
1,181815,143,2716,Ghostbusters,5.0,Ghostbusters,Action|Comedy|Sci-Fi,"Bill Murray, Dan Aykroyd, Sigourney Weaver, Ha...",Ivan Reitman,Three former parapsychology professors set up ...,https://m.media-amazon.com/images/M/MV5BMTkxMj...
2,114424,115,2716,Ghostbusters,3.0,Ghostbusters,Action|Comedy|Sci-Fi,"Bill Murray, Dan Aykroyd, Sigourney Weaver, Ha...",Ivan Reitman,Three former parapsychology professors set up ...,https://m.media-amazon.com/images/M/MV5BMTkxMj...
3,235740,136,2716,Ghostbusters,1.0,Ghostbusters,Action|Comedy|Sci-Fi,"Bill Murray, Dan Aykroyd, Sigourney Weaver, Ha...",Ivan Reitman,Three former parapsychology professors set up ...,https://m.media-amazon.com/images/M/MV5BMTkxMj...
4,119804,128,2716,Ghostbusters,4.5,Ghostbusters,Action|Comedy|Sci-Fi,"Bill Murray, Dan Aykroyd, Sigourney Weaver, Ha...",Ivan Reitman,Three former parapsychology professors set up ...,https://m.media-amazon.com/images/M/MV5BMTkxMj...

In [82]:

movies_demo = movies_demo[['movieId','Title_x','genres','Actors', 'Director', 'Plot', 'Poster' ]]

movies_demo = movies_demo.rename(columns = {'Title_x': 'Title'})

# drop duplicates

movies_demo.drop_duplicates(subset ="movieId", 
                     keep = 'first', inplace = True) 

print(movies_demo.shape)

(3199, 7)

In [83]:
movies_demo.drop_duplicates(subset ="Title", 
                     keep = 'first', inplace = True)

In [84]:
print(movies_demo.shape)

(3094, 7)

In [85]:
movies_demo.to_csv('Data/movies_demo.csv', index=False)

In [86]:
movies_demo.head()

,movieId,Title,genres,Actors,Director,Plot,Poster
0,2716,Ghostbusters,Action|Comedy|Sci-Fi,"Bill Murray, Dan Aykroyd, Sigourney Weaver, Ha...",Ivan Reitman,Three former parapsychology professors set up ...,https://m.media-amazon.com/images/M/MV5BMTkxMj...
88,110,Braveheart,Action|Drama|War,"James Robinson, Sean Lawlor, Sandy Nelson, Jam...",Mel Gibson,When his secret bride is executed for assaulti...,https://m.media-amazon.com/images/M/MV5BMzkzMm...
219,218,Boys on the Side,Comedy|Drama,"Whoopi Goldberg, Mary-Louise Parker, Drew Barr...",Herbert Ross,"Jane is a night club singer, out of work. Robi...",https://m.media-amazon.com/images/M/MV5BMDlhZG...
236,410,Addams Family Values,Children|Comedy|Fantasy,"Anjelica Huston, Raul Julia, Christopher Lloyd...",Barry Sonnenfeld,The Addams Family try to rescue their beloved ...,https://m.media-amazon.com/images/M/MV5BZWFhNj...
275,93510,21 Jump Street,Action|Comedy|Crime,"Jonah Hill, Channing Tatum, Brie Larson, Dave ...","Phil Lord, Christopher Miller",A pair of underachieving cops are sent back to...,https://m.media-amazon.com/images/M/MV5BMTc3Nz...

#### Create new Bag of Words csv
New movies_bow csv created based on smaller dataset

In [87]:
movies_bow = movies_demo.copy()

In [88]:
# function to switch all words to lower and remove spaces
def clean_data(x):
    if isinstance(x, list):
        return[str.lower(i.replace(" ", "")) for i in x]
    else:
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

In [89]:
credits = ['Actors', 'Director']

for credit in credits:
    movies_bow[credit] = movies_bow[credit].apply(clean_data)

In [90]:
# remove | from genres

movies_bow['genres'] = movies_bow['genres'].str.replace("|", " ")

In [91]:
#### Combining data 

def create_soup(x):
    return  x['Actors'].replace(',',' ') + ' ' + x['Director'] + ' ' + ' '.join(x['genres'])

In [92]:
movies_bow['bag_of_words'] = movies_bow.apply(create_soup, axis=1)

In [93]:
movies_bow = movies_bow[['movieId','Title','bag_of_words']]
movies_bow.to_csv('Data/movies_bow_demo.csv', index=False)
movies_bow.head()

,movieId,Title,bag_of_words
0,2716,Ghostbusters,billmurray danaykroyd sigourneyweaver haroldra...
88,110,Braveheart,jamesrobinson seanlawlor sandynelson jamescosm...
219,218,Boys on the Side,whoopigoldberg mary-louiseparker drewbarrymore...
236,410,Addams Family Values,anjelicahuston rauljulia christopherlloyd joan...
275,93510,21 Jump Street,jonahhill channingtatum brielarson davefranco ...

#### Perform part of the SVD model process
All of the vectors are computed and pickled so that less time will be spent on data processing when the app is being run

In [94]:
# pivot ratings into movie features
ratings_demo_matrix = ratings_demo.pivot(
    index='userId',
    columns='movieId',
    values='rating'
).fillna(0)

In [95]:
# create ratings_demo_matrix for heroku app

ratings_demo_matrix.to_hdf('Data/ratings_demo_mx.h5', key='ratings_demo_matrix',complib='blosc',complevel=9, mode='w' )

In [96]:
# normalize the data by each users mean and convert it from a dataframe to a numpy array.

R = ratings_demo_matrix.values
user_ratings_mean = np.mean(R, axis = 1)
Ratings_demeaned = R - user_ratings_mean.reshape(-1, 1)

In [97]:
# Compute the largest k singular values/vectors for a sparse matrix

from scipy.sparse.linalg import svds

U, sigma, Vt = svds(Ratings_demeaned, k = 50)

In [98]:
# convert sigma to a diagonal matrix

sigma = np.diag(sigma)

In [100]:
# calculate the dot product of our vectors
user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + user_ratings_mean.reshape(-1, 1)

In [101]:
preds_demo = pd.DataFrame(user_predicted_ratings, columns = ratings_demo_matrix.columns)

preds_demo.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,168122,168250,168252,168254,168418,168554,169400,169982,170875,172133
0,-0.000325,0.000262,0.000265,0.000320,0.000270,0.001397,0.000308,0.000310,0.000307,-0.000235,...,0.000314,0.000314,0.000309,0.000314,0.000314,0.000314,0.000314,0.000314,0.000314,0.000314
1,-0.000280,0.000989,0.000950,0.001101,0.002057,0.004269,0.000905,0.001146,0.001094,-0.005031,...,0.001158,0.001161,0.001100,0.001159,0.001161,0.001162,0.001162,0.001162,0.001162,0.001160
2,-0.007193,-0.004388,-0.001899,-0.000582,0.001318,0.006111,-0.001896,-0.000733,-0.000555,-0.005045,...,-0.000701,-0.000697,-0.001072,-0.000735,-0.000693,-0.000683,-0.000689,-0.000677,-0.000683,-0.000713
3,-0.001498,0.002721,0.000081,0.000616,-0.000560,0.001622,0.000544,0.000555,0.000816,-0.018101,...,0.000728,0.000751,0.000696,0.000735,0.000752,0.000756,0.000754,0.000759,0.000756,0.000749
4,-0.001659,0.001585,0.002128,0.002359,0.002302,0.002921,0.002219,0.002357,0.002353,-0.001535,...,0.002384,0.002387,0.002357,0.002388,0.002386,0.002386,0.002386,0.002386,0.002386,0.002385

In [102]:
preds_demo.to_hdf('Data/preds_demo.h5', key='preds_demo',complib='blosc',complevel=9, mode='w' )

In [106]:
exist_users = ratings_demo['userId'].unique().tolist()

exist_users

[85983,
 71558,
 220354,
 243570,
 260431,
 37362,
 6079,
 259726,
 194783,
 72952,
 221568,
 253896,
 269434,
 29387,
 215279,
 36842,
 148505,
 78724,
 142893,
 180557,
 93270,
 172801,
 112881,
 141312,
 162820,
 79468,
 181815,
 34249,
 73470,
 162318,
 79788,
 294,
 64794,
 92111,
 256105,
 128643,
 248298,
 220101,
 67973,
 42950,
 250102,
 228858,
 126990,
 213560,
 132964,
 24232,
 90904,
 28416,
 38340,
 70946,
 2380,
 87481,
 214247,
 259781,
 113435,
 146218,
 200079,
 217195,
 86885,
 96826,
 5461,
 136557,
 82481,
 179894,
 11071,
 213882,
 196323,
 1283,
 18651,
 109244,
 216880,
 148003,
 124859,
 77614,
 244510,
 66425,
 55101,
 199549,
 47687,
 183899,
 174778,
 196128,
 66255,
 9007,
 51488,
 68205,
 95592,
 108875,
 25654,
 203918,
 253072,
 14180,
 227487,
 196484,
 55893,
 217395,
 142087,
 196493,
 208473,
 267779,
 168067,
 174090,
 142945,
 238061,
 191553,
 15824,
 16509,
 85871,
 190390,
 229168,
 112602,
 49318,
 28670,
 216922,
 51419,
 113866,
 252287,
 254730,
 166822,
 159463,
 112476,
 80121,
 186517,
 60677,
 6352,
 42675,
 67416,
 132646,
 49478,
 100724,
 158184,
 37698,
 240893,
 17899,
 139561,
 56973,
 244548,
 47359,
 203593,
 211514,
 195469,
 125290,
 83383,
 62377,
 76923,
 216670,
 114389,
 10899,
 61391,
 213655,
 265479,
 232651,
 107299,
 250133,
 125244,
 137647,
 44838,
 80265,
 72724,
 150062,
 89602,
 73230,
 73228,
 116907,
 187716,
 204559,
 58138,
 143663,
 246297,
 242496,
 264446,
 44920,
 117922,
 146712,
 4058,
 65754,
 106303,
 83783,
 100757,
 204594,
 109058,
 8221,
 12147,
 214215,
 136952,
 159315,
 250201,
 5285,
 180101,
 270277,
 198595,
 234490,
 130820,
 5715,
 95089,
 264728,
 183558,
 71996,
 197587,
 127056,
 59480,
 175122,
 52033,
 202163,
 191082,
 75180,
 84424,
 32861,
 156986,
 63546,
 158530,
 7458,
 77506,
 21352,
 214383,
 69309,
 138840,
 147109,
 220915,
 90156,
 110940,
 6822,
 265841,
 226260,
 120480,
 46762,
 164022,
 76599,
 36074,
 245020,
 16692,
 188257,
 17321,
 155684,
 95659,
 34546,
 85987,
 256045,
 80673,
 259902,
 103710,
 264924,
 126269,
 248845,
 266345,
 61984,
 97542,
 14994,
 5768,
 85364,
 107517,
 76777,
 173150,
 150809,
 129561,
 262371,
 5792,
 140719,
 117829,
 184126,
 225480,
 53594,
 131140,
 252906,
 76390,
 164533,
 209075,
 254089,
 51401,
 227522,
 152982,
 139508,
 16289,
 72474,
 184835,
 154262,
 142376,
 114641,
 18696,
 185721,
 212197,
 105267,
 198733,
 4481,
 213075,
 146281,
 10489,
 173163,
 50588,
 186899,
 226152,
 52601,
 141655,
 58905,
 353,
 185020,
 127908,
 5484,
 116105,
 195025,
 270210,
 48997,
 104395,
 146446,
 268467,
 33117,
 61206,
 187335,
 163317,
 73512,
 140753,
 176682,
 15416,
 258687,
 89111,
 163315,
 166157,
 150001,
 221514,
 74228,
 264703,
 91439,
 230877,
 158146,
 230449,
 166206,
 97479,
 152720,
 124245,
 172447,
 32724,
 95722,
 159484,
 148477,
 143219,
 53702,
 167042,
 166775,
 201713,
 235570,
 88401,
 39447,
 205105,
 211047,
 237767,
 229978,
 262571,
 10586,
 69500,
 176030,
 1706,
 107168,
 89056,
 49844,
 82314,
 138030,
 35611,
 236629,
 239799,
 181978,
 58803,
 179814,
 196462,
 161820,
 155091,
 237273,
 60187,
 117579,
 183031,
 218336,
 62660,
 118319,
 168528,
 27185,
 123926,
 1662,
 31387,
 59226,
 23708,
 38829,
 137265,
 253129,
 127453,
 258143,
 6200,
 34756,
 19933,
 145428,
 174504,
 176278,
 91665,
 208972,
 232752,
 136005,
 66581,
 269722,
 137139,
 62776,
 180767,
 146283,
 243711,
 240141,
 9074,
 88568,
 184004,
 64803,
 257340,
 49294,
 46890,
 207983,
 257925,
 243944,
 146031,
 177651,
 55684,
 242226,
 261615,
 57996,
 246334,
 156430,
 128698,
 17923,
 113708,
 241996,
 9286,
 23347,
 198963,
 126407,
 16878,
 153971,
 13841,
 258060,
 105368,
 264716,
 53898,
 119922,
 10674,
 172358,
 51989,
 237600,
 99759,
 86392,
 144031,
 36025,
 188177,
 266792,
 100002,
 135497,
 233794,
 170706,
 222335,
 143441,
 681,
 160630,
 83577,
 230072,
 108081,
 153820,
 125178,
 92215,
 90439,
 25625,
 159730,
 31866,
 174825,
 179745,
 249983,
 148759,
 124572,
 129723,
 148247,
 240725,
 112089,
 5199,
 89848,
 243574,
 163128,
 11767,
 147614,
 7074,
 103627,
 245239,
 92986,
 27884,
 88212,
 112055,
 177248,
 126714,
 234225,
 67682,
 211836,
 133434,
 133791,
 70153,
 73804,
 188600,
 158972,
 224437,
 133130,
 106933,
 137851,
 154522,
 6549,
 192999,
 19621,
 118437,
 101539,
 32193,
 72931,
 262691,
 167451,
 230899,
 98285,
 140083,
 146127,
 79356,
 24128,
 220140,
 198600,
 70459,
 91692,
 60838,
 149834,
 114693,
 20792,
 107559,
 77383,
 176959,
 152201,
 3658,
 130165,
 3664,
 60676,
 91878,
 20017,
 252682,
 108793,
 136818,
 211344,
 6358,
 7735,
 91470,
 81542,
 221153,
 263688,
 53537,
 242559,
 222094,
 249019,
 110132,
 13552,
 79852,
 233225,
 95124,
 240195,
 118416,
 35325,
 79681,
 33004,
 51717,
 169788,
 143713,
 97935,
 112970,
 137690,
 270444,
 233467,
 77884,
 9235,
 201416,
 80047,
 213162,
 56482,
 267528,
 231958,
 43122,
 34589,
 114424,
 6070,
 264042,
 81937,
 131579,
 178089,
 134050,
 96075,
 198653,
 31308,
 128549,
 252562,
 5274,
 132794,
 141876,
 78669,
 269870,
 196740,
 188480,
 227253,
 56397,
 245610,
 225990,
 863,
 169873,
 212595,
 130852,
 103475,
 87079,
 21083,
 259903,
 6592,
 92380,
 246893,
 176564,
 94556,
 245926,
 242970,
 160717,
 193207,
 5526,
 42549,
 101628,
 72582,
 254499,
 153561,
 118281,
 33750,
 170725,
 236491,
 112513,
 62731,
 69978,
 59260,
 202279,
 132896,
 89761,
 171316,
 154641,
 143456,
 70442,
 204726,
 129747,
 189921,
 233527,
 268394,
 223631,
 133538,
 69376,
 207062,
 270070,
 2260,
 26815,
 78400,
 117886,
 169117,
 246624,
 222130,
 146267,
 24350,
 185443,
 5149,
 217656,
 256622,
 66161,
 182466,
 184069,
 76447,
 122879,
 148330,
 55383,
 66680,
 67062,
 59320,
 24022,
 215147,
 254988,
 143026,
 199259,
 133978,
 138839,
 200525,
 40299,
 157102,
 62011,
 269480,
 135629,
 82223,
 197059,
 183061,
 152483,
 118017,
 65473,
 12852,
 64827,
 172621,
 94929,
 14169,
 17057,
 148839,
 150238,
 43090,
 158924,
 114291,
 88633,
 150853,
 124758,
 16456,
 169874,
 185788,
 255443,
 35706,
 38521,
 28968,
 84313,
 216930,
 219616,
 2668,
 126521,
 189368,
 160608,
 235740,
 241300,
 250356,
 215003,
 130257,
 60335,
 165582,
 6396,
 35436,
 78080,
 151410,
 15750,
 85123,
 54645,
 62221,
 72025,
 171639,
 99179,
 106034,
 28164,
 38101,
 223806,
 145369,
 103924,
 269333,
 126000,
 173853,
 187303,
 62278,
 93493,
 30906,
 148892,
 178761,
 61431,
 129456,
 14050,
 270833,
 216233,
 6686,
 82517,
 181974,
 143347,
 140164,
 171481,
 137815,
 69375,
 74410,
 240681,
 205745,
 180672,
 49933,
 140400,
 170346,
 178170,
 108458,
 63230,
 44498,
 210386,
 43524,
 53041,
 207727,
 175723,
 18124,
 119804,
 109063,
 24450,
 40147,
 222507,
 132470,
 118675,
 183365,
 35807,
 222460,
 112069,
 157836,
 264135,
 94117,
 213916,
 166529,
 207071,
 258943,
 153605,
 116300,
 174028,
 142062,
 174702,
 244297,
 95850,
 69419,
 229809,
 38385,
 115839,
 200792,
 191655,
 59137,
 96791,
 71580,
 176274,
 98984,
 258302,
 220218,
 145356,
 94699,
 224522,
 7123,
 10846,
 222680,
 225671,
 140284,
 186202,
 136575,
 44795,
 70803,
 121346,
 214336,
 128857,
 133227,
 158893,
 270056,
 140613,
 98597,
 264168,
 261969,
 255851,
 200730,
 195539,
 213739,
 123430,
 248767,
 8494,
 223123,
 29304,
 10072,
 267543,
 76048,
 269844,
 225310,
 2831,
 148192,
 64956,
 233161,
 49644,
 223392,
 227342,
 34706,
 73843,
 74572,
 7787,
 41219,
 101167,
 60218,
 109263,
 147176,
 195907,
 11157,
 257133,
 182171,
 74273,
 226733,
 7868,
 32317,
 244525,
 100784,
 86738,
 179882,
 16803,
 73990,
 202068,
 268942,
 52473,
 135212,
 152349,
 7640,
 232769,
 239474,
 111005,
 261016,
 7551,
 73409,
 72793,
 79791,
 12575,
 212602,
 1685,
 133541,
 132222,
 71832,
 173491,
 236195,
 81457,
 194391,
 10403,
 46011,
 27984,
 221613,
 208338,
 115985,
 219814,
 191116,
 111586,
 270136,
 40347,
 49076,
 212559,
 193607,
 235744,
 170008,
 43051,
 195224,
 178566,
 71160,
 74694,
 126874,
 73890,
 43134,
 176976,
 233599,
 58190,
 27683,
 250906,
 261037,
 71111,
 164201,
 245646,
 114010,
 64870,
 110468,
 198021,
 83694,
 153691,
 89780,
 227373,
 181026,
 41567,
 265923,
 239248,
 254425,
 259217,
 48748,
 107435,
 37476,
 121577,
 100913,
 44092,
 160678,
 69734,
 107288,
 261627,
 249164,
 97637,
 143644,
 223944,
 54022,
 89250,
 265818,
 132625,
 175015,
 4038,
 208806,
 120123,
 200557,
 249974,
 256235,
 143794,
 234955,
 213966,
 26423,
 165543,
 208828,
 65723,
 18389,
 21490,
 182544,
 33182,
 55976,
 24762,
 55659,
 74615,
 256923,
 256751,
 251838,
 29935,
 ...]

In [107]:
exist_movies = pd.DataFrame(movies_demo['Title'])
exist_movies

exist_movies.to_csv('Data/sample_movies.csv', index=False)